[submodule "services/user-service"]
	path = services/user-service
	url = https://github.com/LavaJover/shvark-user-service
[submodule "services/sso-service"]
	path = services/sso-service
	url = https://github.com/LavaJover/shvark-sso-service
